.footer-container {
  background-color: #444;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-info {
  font-size: 16px;
  line-height: 1.6;
}

.footer-info p {
  margin-bottom: 10px;
}
